#head-tr > th {
  font-family: 'Arial Black', sans-serif;
  text-transform: uppercase;
  font-size: 75%;
  text-align: center;
  background-color: rgb(186, 193, 223);
  padding: 15px;
}

.tr > td {
  padding: 15px;
}

.tr > td:nth-child(1){
  text-transform: capitalize;
}
