.button {
  font-family: 'Arial Black', sans-serif;
  width: 150px; height: 30px;
  position: relative;
  color: rgb(66, 66, 66);
  margin: 3px;
  padding: 5px 8px;
  border: 1px solid #575757;
  border-radius: 6px;
  background: linear-gradient(0deg, #8d8d8d, #ececec);
}

.button::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  z-index: -1;
  transform: translate(-2.5%, -12.5%);
  width: 105%; height: 125%;
  border: 1px solid rgb(66, 66, 66);
  border-radius: 6px;
  background-color: rgb(175, 174, 174);
}

.star {
  color: rgb(122, 122, 122);
}